<Objs Version="1.1.0.1" xmlns="http://schemas.microsoft.com/powershell/2004/04">
  <Obj RefId="0">
    <TN RefId="0">
      <T>ServiceConfig</T>
      <T>System.Object</T>
    </TN>
    <ToString>ServiceConfig</ToString>
    <Props>
      <S N="OutPutType">CSV</S>
      <S N="Logfile">C:\git\PSIA\PSDNSLogfile.log</S>
      <S N="csvFilePath">C:\git\PSIA\PSDNSDiscovery.csv</S>
      <S N="csvRemovedFilePath">C:\git\PSIA\PSDNSDeleted.csv</S>
      <S N="sqlServerInstance">dc01\sqlexpress</S>
      <S N="sqlDatabase">dnslog</S>
      <S N="sqlTable" >discovery</S>
      <S N="sqlDeleteTable" >deleted</S>
      <B N="sqlWindowsAuth">false</B>
      <Nil N="sqlUsername" />
      <Nil N="sqlPassword" />
      <I32 N="syslogPort">0</I32>
      <Nil N="syslogProtocol" />
      <Nil N="syslogServer" />
      <Obj N="DnsZones" RefId="1">
        <TN RefId="1">
          <T>System.Collections.ArrayList</T>
          <T>System.Object</T>
        </TN>
        <LST>
          <S>epm.local</S>
        </LST>
      </Obj>
    </Props>
  </Obj>
</Objs>